@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(45deg, black, rgb(90, 4, 43));
}

.logoBar{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 5px;
    gap: 5px;
}

.logoBar img{
    width: 40px;
    aspect-ratio: 1 / 1;
}

.logoBar h2{
    color: #fff;
    margin-bottom: 1px;
    font-size: 1.3rem;
    font-weight: 300;
}

.container{
    width: 400px;
}

.container :where(.picker, header, .all-colors){
    display: flex;
    align-items: center;
}

.container .picker{
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 20px 0px 20px 0px;
    justify-content: center;
}

.picker button{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 7px 12px;
    background-color: #FF006A;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    width: 175px;
}

.picker button:hover{
    background-color: #b1004a;
}

.picker button svg{
    width: 20px;
    height: 20px;
}
.picker button svg path{
    fill: white;
}

#picker-btn svg{
    width: 18px;
    height: 18px;
    margin-right: 2px;
}

.colors-list{
    margin: 10px 15px;
}

.colors-list header{
    justify-content: space-between;
}

header .title{
    font-size: 1rem;
    color: #fff;
}

header #clear-btn{
    cursor: pointer;
    font-size: 0.9rem;
    color: #FF006A;
    transition: all .2s ease-in-out;
}

header #clear-btn:hover{
    color: #b1004a;
}

.colors-list.hide{
    display: none;
}

.colors-list .all-colors{
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
    padding-bottom: 20px;
    gap: 5px;
}

.all-colors .color{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: calc(100% / 3 - 4px);
    transition: all .2s ease-in-out;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.1);
}

.all-colors .color:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.all-colors .color .hex{
    width: 100%;
}

.all-colors .color .rect{
    width: 30px;
    aspect-ratio: 1 / 1;
    margin-right: 0px;
}

.all-colors .rect{
    height: 22px;
    width: 22px;
    aspect-ratio: 1 / 1 !important;
    display: block;
    margin-right: 3px;
    margin-left: 5px;
    border-radius: 3px;
}

.all-colors .color span{
    font-size: 0.86rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 6px;
}

.color-popup{
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    background-color: #0a0a0a;
    background-image: linear-gradient(45deg, black, rgb(90, 4, 43));
    border-radius: 0px 0px 15px 15px;
    border: 1px solid rgb(75, 75, 75);
    border-top: none;
    box-shadow: 0px 2px 15px black;
    animation: popupAppear .15s ease;
    z-index: 9999;
}

@keyframes popupAppear {
    from{ transform: translateY(-100%) translateX(-50%); }
    to{ transform: translateY(0%) translateX(-50%); }
}

.color-popup-content{
    padding: 20px;
}

.color-popup .topText{
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: -7px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    text-align: center;
}

.color-popup .topText svg{
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
}
.color-popup .topText svg path{
    stroke: rgba(255, 255, 255, 0.5);
}

.color-info{
    display: flex;
    align-items: center;
}

.color-preview{
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1 !important;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.color-details{
    flex-grow: 1;
}

.color-value{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.color-value .value{
    border-radius: 5px;
    padding: 2px;
    transition: all .075s ease-in-out;
    margin: 0px !important;
}
.color-value .value:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.label{
    font-weight: bold;
    margin-right: 5px;
    color: #fff;
    text-shadow: 0px 0px 10px black;
    font-size: 0.86rem !important;
}

.value{
    cursor: pointer;
    color: #fff;
    margin-left: 5px;
    margin-top: 2px;
    text-shadow: 0px 0px 10px black;
    font-size: 0.86rem !important;
}

span.close-popup{
    font-size: 13px;
    margin-top: 2px;
    background-color: white;
    padding-bottom: 1px;
    color: black;
    aspect-ratio: 1 / 1;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    float: right;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.35); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all .075s ease-in-out, transform .3s ease-in-out;
}

span.close-popup:hover{
    background-color: rgb(236, 236, 236);
    transform: rotate(180deg);
}