@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(45deg, black, rgb(90, 4, 43));
}

.logoBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 5px;
    gap: 5px;
}

.logoBar span{
    display: flex;
    align-items: center;
    gap: 5px;
}

.logoBar img{
    width: 40px;
    aspect-ratio: 1 / 1;
}

.logoBar button{
    background-color: transparent;
    display: flex;
    border: none;
    outline: none;
    padding-right: 7px;
    cursor: pointer;
}

.logoBar button svg{
    width: 27px;
    height: 27px;
    animation: appear .2s ease;
    transition: all .3s ease;
}

@keyframes appear {
    from{ transform: scale(0.3) rotate(15deg); }
    to{ transform: scale(1) rotate(0deg); }
}

.logoBar button:hover svg{
    transform: rotate(45deg);
}
.logoBar .active:hover svg{
    transform: rotate(0deg);
}

.logoBar button svg path{
    transition: all .3s ease;
    fill: #fff;
}

.logoBar button:hover svg path{
    fill: #d1d1d1;
}

.logoBar button svg:nth-child(1){
    display: block;
}
.logoBar button svg:nth-child(2){
    display: none;
}

.logoBar .active svg:nth-child(1){
    display: none;
}
.logoBar .active svg:nth-child(2){
    display: block;
}

.logoBar h2{
    color: #fff;
    margin-bottom: 1px;
    font-size: 1.3rem;
    font-weight: 300;
}

.container{
    width: 400px;
}

.container :where(.picker, header, .all-colors){
    display: flex;
    align-items: center;
}

.container .picker{
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 20px 0px 20px 0px;
    justify-content: center;
}

.picker button{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 7px 12px;
    background-color: #FF006A;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    width: 175px;
}

.picker button:hover{
    background-color: #b1004a;
}

.picker button svg{
    width: 20px;
    height: 20px;
}
.picker button svg path{
    fill: white;
}

#picker-btn svg{
    width: 18px;
    height: 18px;
    margin-right: 2px;
}

.colors-list{
    margin: 10px 15px;
}

.colors-list header{
    justify-content: space-between;
}

header .title{
    font-size: 1rem;
    color: #fff;
}

header #clear-btn{
    cursor: pointer;
    font-size: 0.9rem;
    color: #FF006A;
    transition: all .2s ease-in-out;
}

header #clear-btn:hover{
    color: #b1004a;
}

.colors-list .all-colors{
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
    padding-bottom: 20px;
    gap: 5px;
}

.all-colors .color{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: calc(100% / 3 - 4px);
    transition: all .2s ease-in-out;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.1);
}

.all-colors .color:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.all-colors .color .hex{
    width: 100%;
}

.all-colors .color .rect{
    width: 30px;
    aspect-ratio: 1 / 1;
    margin-right: 0px;
}

.all-colors .rect{
    height: 22px;
    width: 22px;
    aspect-ratio: 1 / 1 !important;
    display: block;
    margin-right: 3px;
    margin-left: 5px;
    border-radius: 3px;
}

.all-colors .color span{
    font-size: 0.86rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 6px;
}

.color-popup{
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    background-color: #0a0a0a;
    background-image: linear-gradient(45deg, black, rgb(90, 4, 43));
    border-radius: 0px 0px 15px 15px;
    border: 1px solid rgb(75, 75, 75);
    border-top: none;
    box-shadow: 0px 2px 15px black;
    animation: popupAppear .15s ease;
    z-index: 9999;
}

@keyframes popupAppear {
    from{ transform: translateY(-100%) translateX(-50%); }
    to{ transform: translateY(0%) translateX(-50%); }
}

.color-popup-content{
    padding: 20px;
}

.color-popup .topText{
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: -7px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    text-align: center;
}

.color-popup .topText svg{
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
}
.color-popup .topText svg path{
    stroke: rgba(255, 255, 255, 0.5);
}

.color-info{
    display: flex;
    align-items: center;
}

.color-preview{
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1 !important;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.color-details{
    flex-grow: 1;
}

.color-value{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.color-value .value{
    border-radius: 5px;
    padding: 2px;
    transition: all .075s ease-in-out;
    margin: 0px !important;
}
.color-value .value:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.label{
    font-weight: bold;
    margin-right: 5px;
    color: #fff;
    text-shadow: 0px 0px 10px black;
    font-size: 0.86rem !important;
}

.value{
    cursor: pointer;
    color: #fff;
    margin-left: 5px;
    margin-top: 2px;
    text-shadow: 0px 0px 10px black;
    font-size: 0.86rem !important;
}

span.close-popup{
    font-size: 13px;
    margin-top: 2px;
    background-color: white;
    padding-bottom: 1px;
    color: black;
    aspect-ratio: 1 / 1;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    float: right;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.35); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all .075s ease-in-out, transform .3s ease-in-out;
}

span.close-popup:hover{
    background-color: rgb(236, 236, 236);
    transform: rotate(180deg);
}

.settings-pane{
    color: #fff;
    padding: 20px;
}

.settings-pane div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.settings-pane div label{
    font-size: 0.8rem;
}

.settings-pane div label p{
    color: rgba(255, 255, 255, 0.6);
    width: 75%;
    font-size: 0.7rem;
    line-height: 1.2em;
    margin-top: 3px;
}

.switch {
  /* switch */
  --switch-width: 46px;
  --switch-height: 24px;
  --switch-bg: rgb(131, 131, 131);
  --switch-checked-bg: #FF006A;
  --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
  --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  /* circle */
  --circle-diameter: 18px;
  --circle-bg: #fff;
  --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
  --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
  --circle-transition: var(--switch-transition);
  /* icon */
  --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  --icon-cross-color: var(--switch-bg);
  --icon-cross-size: 7px;
  --icon-checkmark-color: var(--switch-checked-bg);
  --icon-checkmark-size: 11px;
  /* effect line */
  --effect-width: calc(var(--circle-diameter) / 2);
  --effect-height: calc(var(--effect-width) / 2 - 1px);
  --effect-bg: var(--circle-bg);
  --effect-border-radius: 1px;
  --effect-transition: all .2s ease-in-out;
}

.switch input {
  display: none;
}

.switch {
  display: inline-block;
}

.switch svg {
  -webkit-transition: var(--icon-transition);
  -o-transition: var(--icon-transition);
  transition: var(--icon-transition);
  position: absolute;
  height: auto;
  margin-left: 5px;
}

.switch .checkmark {
  width: var(--icon-checkmark-size);
  color: var(--icon-checkmark-color);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  margin-left: 3px;
}

.switch .cross {
  width: var(--icon-cross-size);
  color: var(--icon-cross-color);
}

.slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: var(--switch-transition);
  -o-transition: var(--switch-transition);
  transition: var(--switch-transition);
  cursor: pointer;
}

.circle {
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background: var(--circle-bg);
  border-radius: inherit;
  -webkit-box-shadow: var(--circle-shadow);
  box-shadow: var(--circle-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  z-index: 1;
  position: absolute;
  left: var(--switch-offset);
}

.slider::before {
  content: "";
  position: absolute;
  width: var(--effect-width);
  height: var(--effect-height);
  left: calc(var(--switch-offset) + (var(--effect-width) / 2));
  background: var(--effect-bg);
  border-radius: var(--effect-border-radius);
  -webkit-transition: var(--effect-transition);
  -o-transition: var(--effect-transition);
  transition: var(--effect-transition);
}

/* actions */

.switch input:checked+.slider {
  background: var(--switch-checked-bg);
}

.switch input:checked+.slider .checkmark {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.switch input:checked+.slider .cross {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch input:checked+.slider::before {
  left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
}

.switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter) - var(--switch-offset));
  -webkit-box-shadow: var(--circle-checked-shadow);
  box-shadow: var(--circle-checked-shadow);
}

.hide{
    display: none !important;
}